#main_container
  %h2
    = @deal.title
  %br
  %p
    = @deal.description
  %br
  Units available:
  = @deal.units_available
  %br
  Expiry Date:
  = @deal.expiry_date
  %br
  Price: Rs. 
  = @deal.price
  %br
  Discount:
  = @deal.discount
  \%

%h4
  Customers
%ul
  - @customers.each do |c|
    %li
      = c.name
      %br

= render "customers/customer_form"