<!DOCTYPE html>
<html>
  <head>
    <title>BestDeals</title>
    
    <%= csrf_meta_tags %>
    </head>
  <body>
    <header id="title_bar">
      <section id="title"><h1>BestDeals.com</h1></section>
      <span>    
        <% if deal_owner_signed_in? %>
          <%= link_to "log out", destroy_deal_owner_session_url, :method => :delete %>
        <% else %>
          <%= link_to "sign in", new_deal_owner_session_url %> or 
          <%= link_to " sign up", new_deal_owner_registration_url %>
        <% end %>
      </span>
    </header>
    <nav>
      <ul>
        <li><a href="<%= deals_path %>">Home</a></li>
        <li><a href="#">Hot Deals</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </nav>
    <div id="main_container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
